FITMIND_DB_URL=jdbc:mysql://127.0.0.1:3306/fitmind?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&useSSL=false
FITMIND_DB_USERNAME=fitmind
FITMIND_DB_PASSWORD=YOUR_MYSQL_PASSWORD

DASHSCOPE_API_KEY=YOUR_API_KEY
DASHSCOPE_BASE_URL=https://YOUR_WORKSPACE_HOST/compatible-mode/v1
DASHSCOPE_TEXT_MODEL=YOUR_TEXT_MODEL

MIMO_API_KEY=YOUR_API_KEY
MIMO_BASE_URL=https://YOUR_WORKSPACE_HOST/compatible-mode/v1
MIMO_MODEL=YOUR_VISION_MODEL
